<app-header titol="FORMULARI" bgcolor="secondary"></app-header>

<ion-content>
    <div id="formulario">
        <h3>LOGIN - ADMIN</h3>
        <ion-item>
            <ion-input [(ngModel)]="nombre" type="text" placeholder="NOMBRE DE USUARIO"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="pwd" type="password" placeholder="pwd"></ion-input>
        </ion-item>
    </div>
    <ion-button size="large" type="submit" expand="block" (click)="validateForm()">INICIAR SESIÓN</ion-button>
</ion-content>