<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="login()" type="submit" color="danger" expand="block">Iniciar Sesión</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Has olvidado tu contraseña?</a>
      </ion-col>
    </ion-row>
</ion-content>