<app-header titol = "FORMULARI" bgcolor = "secondary"></app-header>

<ion-content>
    <div id="formulario">
        <h3>REGISTRATE</h3>
        <ion-item >
            <ion-input [(ngModel)]="nombre" type="text" placeholder="NOMBRE"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Género</ion-label>
            <ion-select [(ngModel)]="genero" interface="popover">
                <ion-select-option value="planta">Hombre</ion-select-option>
                <ion-select-option value="fuego">Mujer</ion-select-option>
                <ion-select-option value="agua">Otro</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]="pwd" type="password" placeholder="pwd"></ion-input>
        </ion-item>
    </div>    
    <ion-button  size="large" type="submit" expand="block" (click)="addUser()">REGISTRARSE</ion-button>

</ion-content>
