<ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="textosmsgRight">
    <p class="texto">Hola, mi nombre es Jesús!</p>
  </div>
  <div class="textosmsgLeft">
    <p class="texto">Encantado Jesús, mi nombre
       es Ramona.</p>
  </div>


  <div class="cuadrotexto">
  
    <div>
      <ion-input type="text" required class="mensaje" placeholder="Mensaje..."></ion-input>
    </div>
    <div class="iconoEnviar">
      <ion-button>
        <ion-icon type="submit" style="height: 30px; width: 30px;" name="send-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
