<ion-content>
  <div id="contenedor">
    <!--<script src="https://kit.fontawesome.com/15f3636ee4.js" crossorigin="anonymous"></script>
    <i class="fa-brands fa-gripfire"></i>-->
    <div class="logo">
      <img src="../../../assets/img/Tinder-logo.png">
    </div>
    <div id="botones">
      <ion-grid>
        <ion-row>
          <ion-col align-self-center>
            <ion-button [routerLink]="['/register']" expand="block" color="primary">Registro</ion-button>
            <span class="divider line one-line">O</span>
            <span class="already">Ya dispone de usuario?</span>
            <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar Sesión</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>