<app-header titol = "POKÉDEX" bgcolor = "warning"></app-header>

<ion-content>
    <ion-list id="lista">
        <p><b>Usuarios ENCONTRADOS:</b></p>
        <div *ngFor="let usr of users; let i = index;">
            <!-- AÑADIR LO SIGUIENTE PARA EN EL ITEM PARA IR AL DETAIL DEL POKEMON
                         routerLink="/detail/{{i}}"-->
            <ion-item-sliding>
                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="removePokemon(pk.id)">
                      <ion-icon slot="icon-only" name="trash" ></ion-icon>
                    </ion-item-option>
                </ion-item-options>

                <ion-item>
                    <ion-avatar slot="start">
                        <img src="{{pk.thumbnail}}">
                    </ion-avatar>
                    <div id="{{pk.title}}">
                        <ion-label>
                            <h2>{{pk.title}}</h2>
                            <h3>Pokemon de tipo {{pk.tipo}}</h3>
                        </ion-label>
                    </div>
                </ion-item>
            </ion-item-sliding>
        </div>
      </ion-list>
      <ion-infinite-scroll thresold="100px" (ionInfinite) = "loadData($event)">
        <ion-infinite-scroll-content loaddingSpinner="bubbles" loadingText = "Loadin more data..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
